* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

html,
body {
    /* background-color: rgb(233, 233, 233);
    color: white; */
    height: 100%;

    margin: 0;
}

.left {
    width: 20vw;
    padding: 15px;
    margin: 0;


}

.right {
    width: 80vw;
    overflow-x: hidden;
    overflow-y: hidden;

}

.home ul li {
    width: 14px;
    list-style: none;
    display: flex;
    gap: 8px;
    padding-top: 10px;
}


.bg-black {
    background-color: rgb(5, 5, 5);
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #000000b7;
}

.footer {
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    gap: 14px;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;


}

.footer a {
    color: rgb(172, 165, 165);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.library {
    min-height: 80vh;
    position: relative;

}

.library h3 {
    margin-bottom: 10px;
}

.right {
    margin: 12px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 20, 20);
}

.header>* {
    padding: 8px;
    margin-bottom: 2px;

}

.searchbar{
    height: 24px;
    width: 25rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    background-color: #252525;
    color: rgb(161, 192, 161);
    padding: 0.5rem 0.5rem;
    margin: 20px;

}


.spotify-playlist {
    padding: 16px;
}

.spotify-playlist h2 {
    padding: 15px;
    /* align-items: center; */
}

.cardContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
    overflow-y: scroll;
    max-height: 70vh;
    display: flex;

}

.card {
    /* border: 2px solid rgb(236, 225, 225); */
    width: 180px;
    border-radius: 7px;
    background-color: #252525;
    position: relative;
    transition: all 0.5s;
    display: flex; 
    flex-direction: column;
    justify-content: center;

}

.card:hover{
    background-color:rgb(70, 68, 68) ;
    cursor: pointer;
    .play{
        opacity: 0.9;
        transition:ease-in 0.5s;
    }
}



.card>* {
    padding-top: 10px;

}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius:4px;
}

.play {
    position: absolute;
    top: 130px;
    right: 10px;
    opacity: 0;
}

.card h3, p{
    font-size: small;
    text-align: center;
}

/* .play:hover{
    opacity: 0.9;
} */


.library .English {
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 2px solid white;
}

.signupBtn {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px 30px;
    color: rgb(190, 189, 189);
    border: 2px solid black;
    cursor: pointer;

}

.signupBtn:hover {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.loginBtn {
    background-color: rgb(255, 255, 255);
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8em;
    font-size: 1rem;
}

.loginBtn:hover {
    font-weight: 700;
    background-color: #ffffff;
    cursor: pointer;

}

.playbar {
    position: fixed;
    bottom: 30px;
    background-color: rgb(89, 10, 180);
    height: 8vh;
    width: 75vw;
    padding: 5px;
    /* display: flex; */
    border-radius: 20px;
    /* justify-content:space-evenly; */
    margin-left: 0px;
}

.songbuttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;

}

.library ul li {
    list-style: none;
    padding: 0 5px;
    list-style-type: decimal;
}

.songList ul {
    padding: 0px 10px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    /* gap: 34px; */
    cursor: pointer;
    padding: 8px 10px;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
    border: 0.1px solid rgba(133, 131, 131, 0.671);
    margin-bottom: 12px;
    font-size: small;

}

.playnow {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-right: 0;
}

.songName {
    font-size: small;
}

.songList {
    height: 644px;
    overflow: auto;
    margin-bottom: 5rem;
}

.songinfo {
    width: 500px;
}

.songbuttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 25rem;
}

.songList .invert {
    border-radius: 10px;
}

.seekbar {
    height: 2px;
    width: 85rem;
    margin-left: 2rem;

    background-color: aqua;
    border: 1px solid rgb(5, 10, 9);
    position: absolute;
    bottom: 0.6rem;
    cursor: pointer;
    /* display: block;
    justify-content: center;
    align-items: center; */

}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: rgb(7, 243, 243);
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}


.songtime {
    color: white;
    padding: 12px 12px;
    
}

.hamburger {
    display: none;
    

}

/* 
.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
} */

.nav {
    display: flex;
    align-items: center;
    justify-content: center;

}

.close {
    position: absolute;
    right: 10px;
    top: 30px;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    gap: 5px;
    /* flex-direction: column; */
    /* margin-right: 5rem; */
}



@media (max-width: 1250px) {
    .header{
        margin-bottom: 0px;
        padding-bottom: 0;
    }

    .left {
        /* background-color: red; */
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 332px;
        background-color: black;
    }

    .right {
        width: 100vw;
        height: 100vh;
    }

    .playbar {
        width: calc(100vw - 40px);
        height: 12rem;
    }

    .hamburger {
        display: flex;
        margin-bottom: 5px;
        flex-direction: row;
    }

    .seekbar {
        width: 85%;
        margin-bottom: 1rem;
        /* margin: auto; */
    }

    .card {
        width: 45vw;
    }

    .right {
        margin: 2px;
        height: 62rem;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
        /* padding: 0; */
    }

    .abovebar {
        flex-direction: column;
        gap: 20px;
        align-items: center;

    }

    .songinfo {
        width: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .songbuttons {
        margin-right: 0;
    }

    .play{
        display: none;
    }
    .body *{
        overflow-y: hidden;
    }
    .signupBtn, .loginBtn{
        font-size: 0.7rem;
       

    }

    .installApp{
        display: none;
    }
    .searchbar{
        width:auto;
        
    }


}

@media (max-width: 500px){
      .card {
        width: 80vw;
    }
}


.volume{
    cursor: pointer;
}

.range input{
    cursor: pointer;
}